#include "totem.dtsi"
#include "split_input.dtsi"
#include <input/processors.dtsi>


&trackball_split_listener { // local trackball input split device child node, receiving events from the peripheral and raising them locally
    status = "okay";
    input-processors = <&zip_x_scaler 2 1>;
};

&kscan0 {
    col-gpios
        = <&xiao_d 4 GPIO_ACTIVE_HIGH>
        , <&xiao_d 5 GPIO_ACTIVE_HIGH>
        , <&xiao_d 10 GPIO_ACTIVE_HIGH>
        , <&xiao_d 9 GPIO_ACTIVE_HIGH>
        , <&xiao_d 8 GPIO_ACTIVE_HIGH>
        ;
};
