#include "totem.dtsi"
#include <input/processors.dtsi>
#include "input-split.dtsi"
#include "totem-layouts.dtsi"

&trackball_split_listener {
	status = "okay";
};

// &kscan0 {
//     col-gpios
//         = <&xiao_d 4 GPIO_ACTIVE_HIGH>
//         , <&xiao_d 5 GPIO_ACTIVE_HIGH>
//         , <&xiao_d 10 GPIO_ACTIVE_HIGH>
//         , <&xiao_d 9 GPIO_ACTIVE_HIGH>
//         , <&xiao_d 8 GPIO_ACTIVE_HIGH>
//         ;
// };

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,physical-layout = &physical_layout0;
    };

    mock_kscan: kscan_1 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};
